header{
    position: sticky;

}
.btnlogin button{
    background-color: #7C0B0B;
    color: white;
    width: 76px;
    height: 40px;
    border-radius: 10px;
    
}
.btnlogin{
    gap: 80px;
}
.btnlogin ul{
    gap: px;
}
.btnlogin ul li a:hover{
    color: #7C0B0B;
}

@media(min-width:1024px){
    .btnlogin ul{
        gap: 40px;
    }
    
}
.hero{
    background-image: url(./images/Group\ 5\ \(1\).png);
    width: 100%;
    height: 789px;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}
.join button{
    color: #7C0B0B;
}
form{
    padding: 50px;
}
.btnjoin button{
    
    background-color: #7C0B0B;
    border: none;
    
}
.sec2{
    margin-top: 50px;
}
.textmain h2, p{
    color: #7C0B0B;
}
.form-group select{
    border-color: #7c0b0b67;
    color:#7c0b0b67;
}
.form-group input{
    color: #7c0b0b67;
    border: 1px solid#7c0b0b67;
}
.form-group input::placeholder{
    color: #7c0b0b67;
}
.about{
    
    color: black;
    width: 80%;
    margin: 150px auto;
}
.flexme{
    border: 1px solid #7C0B0B;
    padding: 10px 0px;
    border-radius: 30px;
}
.flexme img{
    margin-top: 30px;
}
.flexme h3{
    margin-top: 20px;
}
.flexme p{
    margin-bottom: 40px;
    margin-top: 20px;
}
.box{
    width: 267px;
    height: 198px;
    background-color: #7C0B0B;
    border-radius: 30px;
    text-align: center;
    color: white;
    padding: 30px 10px;
    margin: auto;
}
.view-btn{
    background-color:#7C0B0B;
    border-radius: 10px;
}
.our{
    background-color: #7C0B0B66;
    width: 366px;
    height: 328px;
    padding: 10px 0px;
    border-radius: 30px;
}
.subscribe{
    justify-content: center;
    background-color: #fff;
    
    
}
.subscribe input{
    color: #7C0B0B;
    border: 2px solid #7C0B0B;
    width: 560px;
height: 54px;
top: 4178px;
left: 445px;
gap: 0px;
border-radius: 30px 0px 0px 30px;
opacity: 0px;
padding: 20px;
border-right: none;
margin-right: -40px;
}
.subscribe button{
    background-color: #7C0B0B;
    color: white;
    border: 2px solid #7C0B0B;
    width: 164px;
height: 54px;
top: 4178px;
left: 841px;
gap: 0px;
border-radius: 30px 30px 30px 30px;
opacity: 0px;
}
.footer{
    background-color:#7C0B0B;
    width: 1440px;
    height: 407px;
    /* top: 4365px; */
    gap: 0px;
    opacity: 0px;
    margin-top: 80px;
}
.ready{
    background-color: white;
    width: 695px;
    height: 112px;
    margin-top: 40px;
    border-radius: 30px;
    display:flex;
    gap: 120px;
    align-items: center;
    padding: 20px 0px;
    justify-content: space-around;
}
.are{
    margin-left: -40px;
    padding: 20px;
    display:inline-block;
    
}
.are img{
    width: 100px;
    height: 93px;
    left: 151px;
}
.are p{
    width: 300.03px;
    height: 20px;
    font-weight: 700;
    text-align: justify;
}
.ready button{
    width: Fixed (144.32px)px;
    height: (40px)px;
    text-align: center;
    background-color: #7C0B0B;
    top: 4511px;
    left: 593.72px;
    padding: 10px 10px 10px 10px;
    gap: 10px;
    border: 2px solid #7C0B0B;
    border-radius: 10px 10px 10px 10px;
    opacity: 20px;
    color: white;
}
.icons{
    width: 142px;
    height: 30px;
    top: 4638px;
    left: 124px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    margin-top: 50px;
}
.one{
    margin-left: 50px;
    font-weight: 700;
    font-size: 19px;
    color: white;
    gap: -90px;
}
.two ul li{
    font-weight: 700;
    font-size: 19px;
    color: white;
    text-decoration-line: none;
    text-decoration: none;
}
.social-links{
    margin-top: 30px;
    justify-content: center;
    display: flex;
    gap: 20px;
    height: auto;
}
.social-links a{
    border: 1px solid white;
    border-radius: 100%;
    padding: 5px;
    font-size: 10px;
}
@media(min-width:768px){
    .con-link{
        display: flex;
        margin-right: 50px;
    }

    .social-links{
        margin-top: 50px;
    }
    .foot{
        margin-top: 12px;
    }
}
@media(min-width:1024px){
    .con-link{
        margin-right: 50px;
        position: relative;
        top: 70px;
    }
    .social-links{
        justify-content: start;
        margin-left: 150px;
        margin-top: 100px;
    }
    .foot{
        width: 500px;
    }
    .foot-btn{
        margin-left: 200px;
        margin-top: -10px;
    }
}
@media(min-width:1440px){
    .social-links{
        margin-left: 200px;
    }
    .con-link{
        margin-right: 180px;
    }
}
@media(min-width:768px){
    .subput input{
        width: 350px;
    }
}
footer{
    background: #7C0B0B;
    height: 350px;
    z-index: -300;
}
.con-link{
    position: relative;
    top: 10px;
    margin: auto;
}
.foot{
    padding: 20px;
    display: flex;
    gap: 40px;
    border-radius: 30px;
    height: 110px;
    align-items: center;
    margin: auto;
    background-color: #fff;
    width: 300px;
    justify-content: space-between;
}
.foot h3{
    font-size: 16px;
}
.foot-btn{
    margin: auto;
}
.foot-sub img{
    margin-bottom: -35px;
    width: 80px;
    height: 70px;
}

.foot-sub h3{
    font-size: 10px;
}

.foot-btn button{
    background-color: #7C0B0B;
    color: #fff;
    border: none;
    padding: 5px 15px 5px 5px;
    border-radius: 10px;
    margin-top: 25px;
    margin-left: -20px;
    font-size: 16px;
    width: 120px;
    
}
.foot-btn button:hover{
    background-color: #fff;
    color: #7C0B0B;
}

.con-link{
    
    justify-content: space-around;
}
.link{
    display: flex;
}
.links{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.foot-sub{
    background-color: #fff;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.link{
    justify-content: center;
    margin-top: 20px;
    gap: 50px;

}


.links a{
    text-decoration: none;
    color: #fff;
    line-height: 1.5;
}
.links a:hover{
    text-decoration: underline;
}
.social-links{
    margin-top: 30px;
    justify-content: center;
    display: flex;
    gap: 20px;
    height: auto;
}
.social-links a{
    border: 1px solid white;
    border-radius: 100%;
    padding: 5px;
    font-size: 10px;
}
@media(min-width:768px){
    .con-link{
        display: flex;
        margin-right: 50px;
    }

    .social-links{
        margin-top: 50px;
    }
    .foot{
        margin-top: 12px;
    }
}
@media(min-width:1024px){
    .con-link{
        margin-right: 50px;
        position: relative;
        top: 70px;
    }
    .social-links{
        justify-content: start;
        margin-left: 150px;
        margin-top: 100px;
    }
    .foot{
        width: 500px;
    }
    .foot-btn{
        margin-left: 200px;
        margin-top: -10px;
    }
}
@media(min-width:1440px){
    .social-links{
        margin-left: 200px;
    }
    .con-link{
        margin-right: 180px;
    }
}